body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 4%;
}

.half-width {
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 14px;
}

.top-banner {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}